data/uploads/*
data/client/
.*
is_installed
!.highlight
!data/uploads/.htaccess
!data/.htaccess
!.gitignore
!system/.htaccess
!application/.htaccess

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

data/js/main.min.js
