[submodule "application/third_party/mockery"]
	path = application/third_party/mockery
	url = https://github.com/padraic/mockery.git
[submodule "application/third_party/QrCode"]
	path = application/third_party/QrCode
	url = https://github.com/endroid/QrCode.git
[submodule "application/third_party/parsedown"]
	path = application/third_party/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "data/tests/exif-orientation-examples"]
	path = data/tests/exif-orientation-examples
	url = https://github.com/recurser/exif-orientation-examples.git
