<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
</IfModule>

Header append Cache-Control "public"
FileEtag none

