<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	Header append Cache-Control "public"
</IfModule>

FileEtag none

