html {
	min-height: 100%;
	background: #fff;
}

a {
	text-decoration: none;
	color: #048;
}

a:hover {
	color: #06C;
}
img {
	border:0;
}
body {
	color: #444;
	font-family: "Bitstream Vera Sans", "DejaVu Sans", Arial;
	margin: 0;
	padding: 0;
}

.clearer {
	clear: both;
	font-size: 0;
}

.small {
  font-size:70%;
}

.top{
  background: #444;
  color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-bottom: 3px double gray; 
}

.top a {
  color: lightblue;
}

.content {
	padding-left:13px;
	padding-top:13px;
  margin-top:100px;
}

