.haskell .de1, .haskell .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.haskell  {font-family:monospace;}
.haskell .imp {font-weight: bold; color: red;}
.haskell li, .haskell .li1 {font-weight: normal; vertical-align:top;}
.haskell .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.haskell .li2 {font-weight: bold; vertical-align:top;}
.haskell .kw1 {color: #06c; font-weight: bold;}
.haskell .kw2 {color: #06c; font-weight: bold;}
.haskell .kw3 {font-weight: bold;}
.haskell .kw4 {color: #cccc00; font-weight: bold;}
.haskell .kw5 {color: maroon;}
.haskell .co1 {color: #5d478b; font-style: italic;}
.haskell .co2 {color: #339933; font-weight: bold;}
.haskell .co3 {color: #5d478b; font-style: italic;}
.haskell .coMULTI {color: #5d478b; font-style: italic;}
.haskell .es0 {background-color: #3cb371; font-weight: bold;}
.haskell .br0 {color: green;}
.haskell .sy0 {color: #339933; font-weight: bold;}
.haskell .st0 {background-color: #3cb371;}
.haskell .nu0 {color: red;}
.haskell .me1 {color: #060;}
.haskell .ln-xtra, .haskell li.ln-xtra, .haskell div.ln-xtra {background-color: #ffc;}
.haskell span.xtra { display:block; }
