.lsl2 .de1, .lsl2 .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.lsl2  {font-family:monospace;}
.lsl2 .imp {font-weight: bold; color: red;}
.lsl2 li, .lsl2 .li1 {font-weight: normal; vertical-align:top;}
.lsl2 .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.lsl2 .li2 {font-weight: bold; vertical-align:top;}
.lsl2 .kw1 {color: #0000ff;}
.lsl2 .kw2 {color: #000080;}
.lsl2 .kw3 {color: #008080;}
.lsl2 .kw4 {color: #228b22;}
.lsl2 .kw5 {color: #b22222;}
.lsl2 .kw6 {color: #8b0000; background-color: #ffff00;}
.lsl2 .kw7 {color: #8b0000; background-color: #fa8072;}
.lsl2 .kw8 {color: #000000; background-color: #ba55d3;}
.lsl2 .co1 {color: #ff7f50; font-style: italic;}
.lsl2 .es0 {color: #000099;}
.lsl2 .br0 {color: #000000;}
.lsl2 .sy0 {color: #000000;}
.lsl2 .st0 {color: #006400;}
.lsl2 .nu0 {color: #000000;}
.lsl2 .ln-xtra, .lsl2 li.ln-xtra, .lsl2 div.ln-xtra {background-color: #ffc;}
.lsl2 span.xtra { display:block; }
