.cmake .de1, .cmake .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.cmake  {font-family:monospace;}
.cmake .imp {font-weight: bold; color: red;}
.cmake li, .cmake .li1 {font-weight: normal; vertical-align:top;}
.cmake .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.cmake .li2 {font-weight: bold; vertical-align:top;}
.cmake .kw1 {color: #1f3f81; font-style: bold;}
.cmake .kw2 {color: #1f3f81;}
.cmake .kw3 {color: #077807; font-sytle: italic;}
.cmake .co1 {color: #666666; font-style: italic;}
.cmake .es0 {color: #000099; font-weight: bold;}
.cmake .es1 {color: #b08000;}
.cmake .es2 {color: #0000cd;}
.cmake .sy0 {color: #197d8b;}
.cmake .st0 {color: #912f11;}
.cmake .re0 {color: #b08000;}
.cmake .re1 {color: #0000cd;}
.cmake .ln-xtra, .cmake li.ln-xtra, .cmake div.ln-xtra {background-color: #ffc;}
.cmake span.xtra { display:block; }
