.cadlisp .de1, .cadlisp .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.cadlisp  {font-family:monospace;}
.cadlisp .imp {font-weight: bold; color: red;}
.cadlisp li, .cadlisp .li1 {font-weight: normal; vertical-align:top;}
.cadlisp .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.cadlisp .li2 {font-weight: bold; vertical-align:top;}
.cadlisp .kw1 {color: #b1b100;}
.cadlisp .co1 {color: #808080; font-style: italic;}
.cadlisp .coMULTI {color: #808080; font-style: italic;}
.cadlisp .es0 {color: #000099; font-weight: bold;}
.cadlisp .br0 {color: #66cc66;}
.cadlisp .sy0 {color: #66cc66;}
.cadlisp .st0 {color: #ff0000;}
.cadlisp .nu0 {color: #cc66cc;}
.cadlisp .ln-xtra, .cadlisp li.ln-xtra, .cadlisp div.ln-xtra {background-color: #ffc;}
.cadlisp span.xtra { display:block; }
