body {
  background: #fff;
  margin:0;
  padding:0;
}

.numbers a {
  padding-left:4px;
  padding-right:4px;
  left:0;
  color: gray;
}

.numbers a:target {
  background: yellow;
}

.content {
  padding-left:3px;
}

.top_bar {
  background: #444;
  color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-bottom: 3px double gray; 
}

table {
  border-collapse: collapse; 
}

table.content {
  min-width: 100%;
  color: #444;
}

table.content td.numbers {
  vertical-align: top;
  text-align:right;
  border-right: 1px solid gray; 
  padding-left: 5px;
  padding-bottom: 15px;
}

table.content td.code {
  vertical-align: top;
  padding-left:5px;
  width:100%;
  padding-bottom: 15px;
}

table.content td.markdownrender {
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  width: 100%;
}

pre {
  margin-top:1em;
  margin-bottom:2px;
}

a.no {
  text-decoration:none;
}

a.raw_link {
  color: lightblue;
}
