.caddcl .de1, .caddcl .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.caddcl  {font-family:monospace;}
.caddcl .imp {font-weight: bold; color: red;}
.caddcl li, .caddcl .li1 {font-weight: normal; vertical-align:top;}
.caddcl .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.caddcl .li2 {font-weight: bold; vertical-align:top;}
.caddcl .kw1 {color: #b1b100;}
.caddcl .co1 {color: #808080; font-style: italic;}
.caddcl .coMULTI {color: #808080; font-style: italic;}
.caddcl .es0 {color: #000099; font-weight: bold;}
.caddcl .br0 {color: #66cc66;}
.caddcl .sy0 {color: #66cc66;}
.caddcl .st0 {color: #ff0000;}
.caddcl .nu0 {color: #cc66cc;}
.caddcl .ln-xtra, .caddcl li.ln-xtra, .caddcl div.ln-xtra {background-color: #ffc;}
.caddcl span.xtra { display:block; }
