.visualprolog .de1, .visualprolog .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.visualprolog  {font-family:monospace;}
.visualprolog .imp {font-weight: bold; color: red;}
.visualprolog li, .visualprolog .li1 {font-weight: normal; vertical-align:top;}
.visualprolog .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.visualprolog .li2 {font-weight: bold; vertical-align:top;}
.visualprolog .kw1 {color: #808000;}
.visualprolog .kw2 {color: #333399;}
.visualprolog .kw3 {color: #800080;}
.visualprolog .co1 {color: #AA77BD}
.visualprolog .coMULTI {color: #AA77BD}
.visualprolog .es0 {color: #008080;}
.visualprolog .br0 {color: #000000;}
.visualprolog .sy0 {color: #000000;}
.visualprolog .st0 {color: #00B7B7;}
.visualprolog .nu0 {color: #0000FF;}
.visualprolog .re0 {color: #008000;}
.visualprolog .re1 {color: #808000;}
.visualprolog .re2 {color: #333399;}
.visualprolog .ln-xtra, .visualprolog li.ln-xtra, .visualprolog div.ln-xtra {background-color: #ffc;}
.visualprolog span.xtra { display:block; }
