.genero .de1, .genero .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.genero  {font-family:monospace;}
.genero .imp {font-weight: bold; color: red;}
.genero li, .genero .li1 {font-weight: normal; vertical-align:top;}
.genero .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.genero .li2 {font-weight: bold; vertical-align:top;}
.genero .kw1 {color: #0600FF;}
.genero .kw2 {color: #0000FF; font-weight: bold;}
.genero .kw3 {color: #008000;}
.genero .kw4 {color: #FF0000;}
.genero .co1 {color: #008080; font-style: italic;}
.genero .co2 {color: #008080;}
.genero .coMULTI {color: #008080; font-style: italic;}
.genero .es0 {color: #008080; font-weight: bold;}
.genero .br0 {color: #000000;}
.genero .sy0 {color: #008000;}
.genero .st0 {color: #808080;}
.genero .nu0 {color: #FF0000;}
.genero .me1 {color: #0000FF;}
.genero .me2 {color: #0000FF;}
.genero .ln-xtra, .genero li.ln-xtra, .genero div.ln-xtra {background-color: #ffc;}
.genero span.xtra { display:block; }
