.lua .de1, .lua .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.lua  {font-family:monospace;}
.lua .imp {font-weight: bold; color: red;}
.lua li, .lua .li1 {font-weight: normal; vertical-align:top;}
.lua .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.lua .li2 {font-weight: bold; vertical-align:top;}
.lua .kw1 {color: #b1b100;}
.lua .co1 {color: #808080; font-style: italic;}
.lua .coMULTI {color: #808080; font-style: italic;}
.lua .es0 {color: #000099; font-weight: bold;}
.lua .br0 {color: #66cc66;}
.lua .sy0 {color: #66cc66;}
.lua .st0 {color: #ff0000;}
.lua .nu0 {color: #cc66cc;}
.lua .me0 {color: #b1b100;}
.lua .ln-xtra, .lua li.ln-xtra, .lua div.ln-xtra {background-color: #ffc;}
.lua span.xtra { display:block; }
