.qbasic .de1, .qbasic .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.qbasic  {font-family:monospace;}
.qbasic .imp {font-weight: bold; color: red;}
.qbasic li, .qbasic .li1 {font-weight: normal; vertical-align:top;}
.qbasic .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.qbasic .li2 {font-weight: bold; vertical-align:top;}
.qbasic .kw1 {color: #a1a100;}
.qbasic .kw3 {color: #000066;}
.qbasic .co1 {color: #808080;}
.qbasic .co2 {color: #808080;}
.qbasic .co3 {color: #8080C0;}
.qbasic .es0 {color: #000099;}
.qbasic .br0 {color: #66cc66;}
.qbasic .sy0 {color: #66cc66;}
.qbasic .st0 {color: #ff0000;}
.qbasic .nu0 {color: #cc66cc;}
.qbasic .re1 {color: #cc66cc;}
.qbasic .re2 {color: #339933;}
.qbasic .ln-xtra, .qbasic li.ln-xtra, .qbasic div.ln-xtra {background-color: #ffc;}
.qbasic span.xtra { display:block; }
