.cobol .de1, .cobol .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.cobol  {font-family:monospace;}
.cobol .imp {font-weight: bold; color: red;}
.cobol li, .cobol .li1 {font-weight: normal; vertical-align:top;}
.cobol .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.cobol .li2 {font-weight: bold; vertical-align:top;}
.cobol .kw1 {color: #000080; font-weight: bold;}
.cobol .kw2 {color: #000000; font-weight: bold;}
.cobol .kw3 {color: #008000; font-weight: bold;}
.cobol .kw4 {color: #000080;}
.cobol .kw5 {color: #008000;}
.cobol .co1 {color: #a0a0a0; font-style: italic;}
.cobol .coMULTI {color: #a0a0a0; font-style: italic;}
.cobol .es0 {color: #000099; font-weight: bold;}
.cobol .br0 {color: #339933;}
.cobol .sy0 {color: #000066;}
.cobol .st0 {color: #ff0000;}
.cobol .nu0 {color: #993399;}
.cobol .me1 {color: #202020;}
.cobol .ln-xtra, .cobol li.ln-xtra, .cobol div.ln-xtra {background-color: #ffc;}
.cobol span.xtra { display:block; }
