.delphi .de1, .delphi .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.delphi  {font-family:monospace;}
.delphi .imp {font-weight: bold; color: red;}
.delphi li, .delphi .li1 {font-weight: normal; vertical-align:top;}
.delphi .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.delphi .li2 {font-weight: bold; vertical-align:top;}
.delphi .kw1 {color: #000000; font-weight: bold;}
.delphi .kw2 {color: #000000; font-weight: bold;}
.delphi .kw3 {color: #000066;}
.delphi .kw4 {color: #000066; font-weight: bold;}
.delphi .co1 {color: #808080; font-style: italic;}
.delphi .co2 {color: #008000; font-style: italic;}
.delphi .coMULTI {color: #808080; font-style: italic;}
.delphi .es0 {color: #ff0000; font-weight: bold;}
.delphi .br0 {color: #000066;}
.delphi .sy0 {color: #000066;}
.delphi .sy1 {color: #000066;}
.delphi .sy2 {color: #000066;}
.delphi .sy3 {color: #000066;}
.delphi .st0 {color: #ff0000;}
.delphi .nu0 {color: #0000ff;}
.delphi .me1 {color: #006600;}
.delphi .re0 {color: #9ac;}
.delphi .re1 {color: #ff0000;}
.delphi .ln-xtra, .delphi li.ln-xtra, .delphi div.ln-xtra {background-color: #ffc;}
.delphi span.xtra { display:block; }
