.coffeescript .de1, .coffeescript .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.coffeescript  {font-family:monospace;}
.coffeescript .imp {font-weight: bold; color: red;}
.coffeescript li, .coffeescript .li1 {font-weight: normal; vertical-align:top;}
.coffeescript .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.coffeescript .li2 {font-weight: bold; vertical-align:top;}
.coffeescript .kw1 {color: #ff7700;font-weight:bold;}
.coffeescript .kw2 {color: #008000;}
.coffeescript .kw3 {color: #dc143c;}
.coffeescript .kw4 {color: #0000cd;}
.coffeescript .co1 {color: #808080; font-style: italic;}
.coffeescript .coMULTI {color: #808080; font-style: italic;}
.coffeescript .es0 {color: #000099; font-weight: bold;}
.coffeescript .br0 {color: black;}
.coffeescript .sy0 {color: #66cc66;}
.coffeescript .st0 {color: #483d8b;}
.coffeescript .nu0 {color: #ff4500;}
.coffeescript .me1 {color: black;}
.coffeescript .ln-xtra, .coffeescript li.ln-xtra, .coffeescript div.ln-xtra {background-color: #ffc;}
.coffeescript span.xtra { display:block; }
