.dos .de1, .dos .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.dos  {font-family:monospace;}
.dos .imp {font-weight: bold; color: red;}
.dos li, .dos .li1 {font-weight: normal; vertical-align:top;}
.dos .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.dos .li2 {font-weight: bold; vertical-align:top;}
.dos .kw1 {color: #00b100; font-weight: bold;}
.dos .kw2 {color: #000000; font-weight: bold;}
.dos .kw3 {color: #b1b100; font-weight: bold;}
.dos .kw4 {color: #0000ff; font-weight: bold;}
.dos .co1 {color: #808080; font-style: italic;}
.dos .es0 {color: #ff0000; font-weight: bold;}
.dos .br0 {color: #66cc66;}
.dos .sy0 {color: #33cc33;}
.dos .sy1 {color: #33cc33;}
.dos .st0 {color: #ff0000;}
.dos .nu0 {color: #cc66cc;}
.dos .re0 {color: #b100b1; font-weight: bold;}
.dos .re1 {color: #448844;}
.dos .re2 {color: #448888;}
.dos .ln-xtra, .dos li.ln-xtra, .dos div.ln-xtra {background-color: #ffc;}
.dos span.xtra { display:block; }
