.actionscript3 .de1, .actionscript3 .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.actionscript3  {font-family:monospace;}
.actionscript3 .imp {font-weight: bold; color: red;}
.actionscript3 li, .actionscript3 .li1 {font-weight: normal; vertical-align:top;}
.actionscript3 .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.actionscript3 .li2 {font-weight: bold; vertical-align:top;}
.actionscript3 .kw1 {color: #0033ff; font-weight: bold;}
.actionscript3 .kw2 {color: #6699cc; font-weight: bold;}
.actionscript3 .kw3 {color: #339966; font-weight: bold;}
.actionscript3 .kw4 {color: #9900cc; font-weight: bold;}
.actionscript3 .kw5 {color: #004993;}
.actionscript3 .kw6 {color: #004993;}
.actionscript3 .kw7 {color: #004993;}
.actionscript3 .kw8 {color: #004993;}
.actionscript3 .co1 {color: #009900; font-style: italic;}
.actionscript3 .co2 {color: #009966; font-style: italic;}
.actionscript3 .coMULTI {color: #3f5fbf;}
.actionscript3 .br0 {color: #000000;}
.actionscript3 .sy0 {color: #000066; font-weight: bold;}
.actionscript3 .st0 {color: #990000;}
.actionscript3 .nu0 {color: #000000; font-weight:bold;}
.actionscript3 .me0 {color: #000000;}
.actionscript3 .ln-xtra, .actionscript3 li.ln-xtra, .actionscript3 div.ln-xtra {background-color: #ffc;}
.actionscript3 span.xtra { display:block; }
